#container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 2px solid black;
}

.grid-cell {
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#reset{
    height: 50px;
    width: 150px;
}